<% if current_user %>
<h1 class='center-align'>ParkMe!</h1><hr></br>
<div class='row'>
  <div class='col s12 m12 l12 valign wrapper'>
    <div class='col s5 m5 l3 push-l2 card-panel z-depth-5' id="outline">
      <h4 class='center-align'>Look For Parking</h4>
      <hr>
      <div class='row '>
        <div class='col s12' id="sign_in">
          <ol class='left'>
            <li>Click 'Find Parking'.</li>
            <li>Enter the destination address.</li>
            <li>Click pins to see more info.</li>
            <li>Request a booking.</li>
          </ol>
        </div>
      </div>
      </br>
    </div>
    <div class='col s5 push-s2 m5 push-m2 l3 push-l4 card-panel z-depth-5' id="outline">
      <h4 class='center-align'>Rent Your Space</h4>
      <hr>
      <div class='row'>
        <div class='col s12' id="sign_in">
           <ol class='left'>
            <li>Click 'My Profile'.</li>
            <li>Click 'Add Parking Pass'.</li>
            <li>Fill in the required info.</li>
            <li>Click 'Create Pass'.</li>
          </ol>
        </div>
      </div>
    </br>
    </div>
  </div>
  <div class='row'>

  </div>
</div>
<% else %>
  <% if controller_name != "sessions" && action_name != "new" %>
    <% if controller_name != "registrations"%>
      <% if action_name != "new" || action_name != "show" %>
        <div class='row valign'>
          <div class="center">
            <h1>ParkMe!</h1>
          </div>
          <%= render "layouts/sign_in_form" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
