<% if current_user %>
<h1 class='center-align'>ParkMe!</h1>
<div class='row'>
  <div class='col s12 l12'>
    <div class='col s5 l3 push-l2' id="outline">
      <h3 class='center-align'>Find Parking</h3>
      <hr>
      <div class='row'>
        <div class='col s12' id="sign_in">
          <ul class='center'>
            <li>Click 'Find Parking'.</li></br>
            <li>Enter the destination.</li></br>
            <li>Click pins to see more.</li></br>
            <li>Request a booking.</li>
          </ul>
        </div>
      </div>
      </br>
    </div>
    <div class='col s5 push-s2 l3 push-l4' id="outline">
      <h3 class='center-align'>Rent Your Space</h3>
      <hr>
      <div class='row'>
        <div class='col s12' id="sign_in">
           <ul class='center'>
            <li>Click 'My Profile'.</li></br>
            <li>Click 'Add Parking Pass'.</li></br>
            <li>Fill in the required info.</li></br>
            <li>Click 'Create Pass'.</li>
          </ul>
        </div>
      </div>
    </br>
    </div>
  </div>
  <div class='row'>

  </div>
</div>
<% else %>
  <% if controller_name != "sessions" && action_name != "new" %>
    <% if controller_name != "registrations"%>
      <% if action_name != "new" || action_name != "show" %>
        <div class='row valign'>
          <div class="center-align">
            <h1>ParkMe!</h1>
          </div>
          <%= render "layouts/sign_in_form" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
