<% if current_user %>
  <h1 class='center-align'>ParkMe!</h1><hr></br>
  <div class='row col s12 m12 l12'>
    <div class='card-panel z-depth-5' id="look-park">
      <div class='center-align'>Look For Parking</div>
      <hr>
      <div class='row'>
        <div class='col s12'>
          <ul class='center'>
            <li>Click 'Find Parking'.</li>
            <li>Enter your destination.</li>
            <li>Click pins to see more info.</li>
            <li>Request your booking.</li>
          </ol>
        </div>
      </div>
      </br>
    </div>
  </div>
  <div class='row col s12 m12 l12'>
    <div class='card-panel z-depth-5' id="rent-park">
      <div class='center-align'>Rent Your Space</div>
      <hr>
      <div class='row'>
        <div class='col s12'>
           <ul class='center'>
            <li>Click 'My Profile'.</li>
            <li>Click 'Add Parking Pass'.</li>
            <li>Fill in the required info.</li>
            <li>Create your Pass.</li>
          </ol>
        </div>
      </div>
    </br>
    </div>
  </div>
<% else %>
  <% if controller_name != "sessions" && action_name != "new" %>
    <% if controller_name != "registrations"%>
      <% if action_name != "new" || action_name != "show" %>
        <div class='row valign'>
          <div class="center">
            <h1>ParkMe!</h1>
          </div>
          <%= render "layouts/sign_in_form" %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
