<% if current_user %>
  <div class='row center'>
    <div class='col s10 offset-s1 m10 offset-m1 l8 offset-l2 card-panel z-depth-5' id="look-park">
      <h2 class='center-align'>Look For Parking</h2>
      <hr>
      <div class='row'>
        <div class='col s12'>
          <ul class='center'>
            <li>Click 'Find Parking'.</li>
            <li>Enter your destination.</li>
            <li>Click pins to see more info.</li>
            <li>Request your booking.</li>
          </ol>
        </div>
      </div>
      </br>
    </div>
    <div class='col s10 offset-s1 m10 offset-m1 l8 offset-l2 card-panel z-depth-5' id="rent-park">
      <h2 class='center-align'>Rent Your Space</h2>
      <hr>
      <div class='row'>
        <div class='col s12'>
           <ul class='center'>
            <li>Click 'My Profile'.</li>
            <li>Click 'Add Parking Pass'.</li>
            <li>Fill in the required info.</li>
            <li>Create your Pass.</li>
          </ol>
        </div>
      </div>
    </br>
    </div>
  </div>
<% else %>
  <% if controller_name != "sessions" && action_name != "new" %>
    <% if controller_name != "registrations"%>
      <% if action_name != "new" || action_name != "show" %>
        <%= render "layouts/sign_in_form" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
