<html>
  <head>
    <title>BreakableToyFinal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="floating-panel">
      <input id="address" type="textbox" value="Boston, MA">
      <input class="geocoder" id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
    <script>
      $( document ).ready(function(){
        $('.geocoder').on('click', function (){
          var request = $.ajax({
            method: "GET",
            url: "/parking_passes",
            data: { parking_pass: "parking_pass"}
          }).done(function(data){
            for(var i = 0; i < data.length; i++){
              var marker = new google.maps.Marker({
                map: window.map,
                position: {lat: parseFloat(data[i].lat), lng: parseFloat(data[i].lng) }
              });
              let id = data[i].id;
              google.maps.event.addListener(marker, 'click', function() {
                window.location.href = `/parking_passes/${id}`;
              });
            }
          })
        });
      })

        function initMap() {
          window.map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: {lat: 42.3600825, lng: -71.0588801}
          });
          var geocoder = new google.maps.Geocoder();

          document.getElementById('submit').addEventListener('click', function() {
            geocodeAddress(geocoder, window.map);
          });
        }

        function geocodeAddress(geocoder, resultsMap) {
          var address = document.getElementById('address').value;
          geocoder.geocode({'address': address}, function(results, status) {
            if (status === 'OK') {
              resultsMap.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                map: resultsMap,
                position: results[0].geometry.location
              });
            } else {
              alert('Geocode was not successful for the following reason: ' + status);
            }
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&callback=initMap">
      </script>
  </body>
</html>
