<h1><%= @user.first_name %> <%= @user.last_name %>'s Profile Page</h1> <hr/>
<div>
  <% if current_user.try(:admin?) || current_user == @user %>
    <%= link_to "Edit User account", edit_user_registration_path, class: "btn" %> <br/><br/>
    <%= link_to "Delete User Account", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn" %>
  <% end %>
</div>
