<h1 class="center align">All Parking Passes</h1>
<div id="index_div">
  <ul>
    <% @parking_passes.each do |parking_pass| %>
      <li>Address: <%= link_to parking_pass.address, parking_pass_path(parking_pass.id) %></li>
      <li>Pass Number: <%= parking_pass.pass_number %></li>
      <li>Price Per Hour: <%= parking_pass.price_per_hour %></li></br>
    <% end %>
  </ul>
</div>
