// @import "*";
@import "materialize";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EDEBE6;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

.nav-wrapper {
  background-color: black;
  height: 7%;

}

.material-icons{
  color: white;
}

#map {
  border: 5px solid #000000;
  left: 10%;
  height: 75%;
  top: 7%;
  width: 80%;
  font-size: 2rem;

}

#floating-panel {
  position: absolute;
  top: 17.5%;
  z-index: 5;
  left: 22.5%;
  width: 55%;
  background-color: #EDEBE5;
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 35px;

  #address {
    width: 50%;
    height: 3rem;
    font-size: 1.2rem;
  }


}

.text_area {
  color: black;
  font-size: 2rem;
}

.btn {
  border: 3px solid #ffffff;
  width: 25%;
  height: 100%;
  font-size: 0.8rem;
  text-align: center;
}
.btn-large {
  font-size: 5rem;
  width: 40%;
  text-align: center;
}

.btn:hover {
  background-color: green;
}

#edit:hover {
  background-color: yellow;
  color: black;
}

#delete:hover {
  background-color: red;
  color: black;
}

.btn-large {
  font-size: .8rem;
}

#userpasses {
  background-color: #00e5ff;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

#userbookings {
  background-color: #00e5ff;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

#passinfo {
  background-color: #00e5ff;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

#edituser {
  background-color: #00e5ff;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

#form {
  background-color: #00e5ff;
}

.search_text {
  color: black;
  font-size: 2rem;
  text-align: center;
}

#outline {
  background-color: #BFCFF7;
  border: 3px solid #BFCFF7;
  border-radius: 25px;
}

#sign_in {
  background-color: #F8F3BF;
  border: 3px solid #000000;
  border-radius: 25px;
  font-size: 2rem;
}

.search_label {
  font-size: 2rem;
}

#user_email {
  font-size: 2rem;
  text-align: center;
}

#user_password {
  font-size: 2rem;
  text-align: center;
}

label {
  font-size: 2rem;
}

nav {
  font-size: 2rem;
  height: 7%;
}

#parking_pass_pass_number {
  font-size: 2rem;
  text-align: center;
}
#parking_pass_address {
  font-size: 2rem;
  text-align: center;
}
#parking_pass_price_per_hour {
  font-size: 2rem;
  text-align: center;
}
#remember {
  font-size: 2rem;
}
#booking_first_name {
  font-size: 2rem;
  text-align: center;
}
#booking_last_name {
  font-size: 2rem;
  text-align: center;
}
#booking_phone_number {
  font-size: 2rem;
  text-align: center;
}
#booking_start_time {
  font-size: 2rem;
  text-align: center;
}
#booking_end_time {
  font-size: 2rem;
  text-align: center;
}
#booking_date {
  font-size: 2rem;
  text-align: center;
}
#list {
  background-color: #00e5ff;
  border: 3px solid #ffffff;
}
