// @import "*";
@import "materialize";
// * STANDARD MONITOR STYLING * //

// * TAGS * //
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #EDEBE6;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
}

label {
  font-size: 2rem;
}

a {
  width: 300px;
  padding-left: 25px;
  padding-right: 25px;
}

// * CLASSES * //
.banner {
  position: absolute;
  top: 0%;
  width: 100%;
  background-color: black;
  color: white;
  font-size: 3.5rem;
  height: 115px;
}

.text_area {
  color: black;
  font-size: 2rem;
}

.btn {
  background-color: #29b6f6;
  border: 2px solid #ffffff;
  width: 135px;
  height: 40px;
  font-size: .95rem;
  text-align: center;
  margin-top: 5px;
}

.btn:hover {
  background-color: green;
}

.forgot {
  text-decoration: underline;
  vertical-align: bottom;
  padding-right: 40px;
  padding-left: 19px
}

.search_text {
  color: black;
  font-size: 2rem;
  text-align: center;
}

.search_label {
  font-size: 2rem;
  color: black;
}

// * IDS * //
#alerts {
  position: absolute;
  top: 115px;
  width: 100%;
  background-color: white;
}
#map {
  position: absolute;
  border: 5px solid #000000;
  left: 7.5%;
  height: 600px;
  top: 40%;
  width: 85%;
  font-size: 2rem;

}

#floating-panel {
  position: absolute;
  top: 30%;
  z-index: 10;
  left: 5%;
  width: 95%;
  background-color: #EDEBE5;
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 35px;

  #address {
    width: 70%;
    height: 3rem;
    font-size: 1.2rem;
  }

}

#edit:hover {
  background-color: yellow;
  color: black;
}

#delete:hover {
  background-color: red;
  color: black;
}

#userpasses {
  padding-top: 10px;
  background-color: #a5d6a7;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

#list {
  background-color: #F8F3BF;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

#list-text {
  font-size: 1.3rem;
}

#passinfo {
  background-color: #a5d6a7;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

#edituser {
  background-color: #00e5ff;
  border: 3px solid #ffffff;
  border-radius: 25px;
}

#form {
  background-color: #00e5ff;
}

#look-park {
  position: absolute;
  height: 400px;
  width: 65%;
  top: 30%;
  left: 17.5%;
  background-color: #BFCFF7;
  border: 3px solid #000000;
  border-radius: 25px;
  font-size: 1.4rem;
}

#rent-park {
  position: absolute;
  height: 400px;
  top: 100%;
  width: 65%;
  left: 17.5%;
  background-color: #BFCFF7;
  border: 3px solid #000000;
  border-radius: 25px;
  font-size: 1.4rem;
}

#sign_in_form {
  border: solid 2px;
  border-radius: 20px;
  height: 550px;
  background-color: #ffffff;
}

#sign_in {
  position: absolute;
  top: 200px;
  text-align: center;
  width: 100%;
}

#sign_up {
  position: absolute;
  top: 150px;
  text-align: center;
  width: 100%;
}

#sign_up_form {
  margin-top: 20px;
  border: solid 2px;
  border-radius: 20px;
  height: 850px;
  background-color: #ffffff;
}

#user_first_name {
  font-size: 2rem;
  text-align: center;
}

#user_last_name {
  font-size: 2rem;
  text-align: center;
}

#user_phone_number {
  font-size: 2rem;
  text-align: center;
}

#user_email {
  font-size: 2rem;
  text-align: center;
}

#user_password {
  font-size: 2rem;
  text-align: center;
}

#user_password_confirmation {
  font-size: 2rem;
  text-align: center;
}

#parking_pass_pass_number {
  font-size: 2rem;
  text-align: center;
}

#parking_pass_address {
  font-size: 2rem;
  text-align: center;
}

#parking_pass_price_per_hour {
  font-size: 2rem;
  text-align: center;
}

#remember {
  vertical-align: bottom;
  font-size: 1rem;
  color: black;
  padding-right: 42px;
}

#remember_me{
  vertical-align: middle;
  padding-bottom: 25px;
  color: black;
}

#booking_first_name {
  font-size: 2rem;
  text-align: center;
}

#booking_last_name {
  font-size: 2rem;
  text-align: center;
}

#booking_phone_number {
  font-size: 2rem;
  text-align: center;
}

#booking_start_time {
  font-size: 2rem;
  text-align: center;
}

#booking_end_time {
  font-size: 2rem;
  text-align: center;
}

#booking_date {
  font-size: 2rem;
  text-align: center;
}

#account-text {
  text-decoration: underline;
}

#facebook-connect {
  vertical-align: middle;
  padding-top: 35px;
}

#slide-out {
  background-color: white;
}
#submit {
  width: 80px;
}

#nav {
  position: fixed;
  top: 0%;
  width: 100%;
  background-color: black;
  font-size: 3.5rem;
  height: 100px;
  z-index: 1;
}

#menu {
  font-size: 3rem;
  color: white;
}

#logo {
  position: absolute;
  width: 80%;
  text-align: center;
  color: white;
  line-height: 30px;
}
#add_pass{
  position: absolute;
  top: 20%;
}
